<br>
<h1>Login</h1>
<form [formGroup]="loginForm">
    <br>

    <div class="form-group">
        <label for="username">Email/Username</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="Enter your username" formControlName="username">
        
    </div>
    <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <div *ngIf="username.errors.required">
            username is required.
        </div>
        <div *ngIf="username.errors.minlength">
            username must be at least 4 characters long.
        </div>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Enter your password" formControlName="password">
    </div>
    
    <button class="btn btn-primary" type="button" (click)="onLoginClick()">Login</button>
    
    <div *ngIf="loginError">
        <p>{{ loginError }}</p>
    </div>

    <div *ngIf="isLoading">
        <p>Attempting to login....</p>
    </div>

</form>
<br>
<br>
<br>
<div id="black-btn">
<button id="register-btn" class="btn btn-dark" type="button" (click)="registerNowClick()">Dont have an account? Register now!</button>
</div>