<section class="container">
    <h1>Welcome to the Dashboard</h1>
    <h4>Welcome back {{ username }}</h4>
    
</section>



<div *ngIf="isLoggedIn">
    <button class="btn btn-dark" type="button" (click)="logoutNowClick()">Logout</button>
</div>
