<!-- <section class="container">
    <h2>survey-list works!</h2>
</section>
<div class="container">
    <app-survey-list-item *ngIf="true == true"></app-survey-list-item>
</div> -->

<div class="container">
    <h1>Available Surveys</h1>
    <app-survey-list-item *ngFor="let survey of surveys" 
        (clickSurvey)="onSurveyClicked($event)"
        [survey]="survey"></app-survey-list-item>

    <div *ngIf="surveyListError">
        {{ surveyListError }}
    </div>
</div>
