
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <span class="navbar-brand mb-0 h1">Get SCHWIFTY Survey</span>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/login">Home</a>
            </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/surveys">Surveys</a>
          </li>
        </ul>
    </div>

  </nav>
  <br>


<router-outlet></router-outlet>