<br>
<h1>Create a new User</h1>
<form [formGroup]="registerForm">
    <br>
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="Enter a username" formControlName="username">
    </div>
    <div *ngIf="username.invalid && (username.dirty || username.touched)">

        <div *ngIf="username.errors.required">
            Username is required.
        </div>

        <div *ngIf="username.errors.minlength">
            Username must be at least 4 characters long.

        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Enter a password" formControlName="password">
    </div>
    <div *ngIf="password.invalid && (password.dirty || password.touched) ">
        <div *ngIf="password.errors.required">
            Password is required.
        </div>
        <div *ngIf="password.errors.pattern">
            Password must be at least 4 characters long and contain at least 1 uppercase, 1 lowercase and 1 number.
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input  class="form-control"type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm your password" formControlName="confirmPassword">
    </div>
    <div *ngIf="confirmPassword.invalid && (password.dirty || password.touched) ">
        
        <div *ngIf="confirmPassword.errors.required">
            Password is required.

        </div>
        <br>
        <div *ngIf="confirmPassword.errors.pattern">
            Password must be at least 4 characters long and contain at least 1 uppercase, 1 lowercase and 1 number.

        </div>
    </div>
    <button class="btn btn-primary" type="button" (click)="onRegisterClick()" [disabled]="isLoading">Register</button>

    <div *ngIf="isLoading">
        <p>Registering your account...</p>
    </div>

    

</form>
